<div class="cuadroNegro">
    <div class="containerTitulo">
        <h1>FELICIDADES!</h1>
    </div>
    <div>
        <center>
            <b><p style="color:white;">Ganaste</p></b>
            <h2 style="color: white;"> $@string.Format("{0:0.00}", ViewBag.Banca)</h2>
       </center>
    </div>
    <center>
        <button type="button" class="btn btn-warning"><a style="color: black;" href='@Url.Action("Index", "Juego")'><h2>Volver a Jugar</h2></a></button> 
    </center>
</div>
